feedparser>=6.0.10
requests>=2.32.3
beautifulsoup4>=4.12.3
html5lib>=1.1
python-dateutil>=2.9.0.post0
rapidfuzz>=3.9.7
pandas>=2.2.2
openpyxl>=3.1.2
PyYAML>=6.0.2
simhash>=2.1.2
langdetect>=1.0.9
git+https://github.com/nestauk/discovery_utils.git
